/*
 @autor: edmar soares
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
	background: #6C2A6A;
	font-family: 'Varela Round', sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

	
input[type="text"], input[type="date"], select {
	padding: 8px;
}

label {
	padding: 1px 0 5px 0;
    flex: 1;
    color:#ffff;
}

.row {
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: .5em;
	width: 500px;
	
}

input[type="submit"] {
	color: #6C2A6A;
	margin: 10px 0 0 0;	
	padding: 5px 0 5px;
	font-size: 15px;
}

.title {
	color: #fff;	
}

a {	
	text-decoration:none;
	margin: 0 0 0 0;
	padding: 9px 5px 9px 5px;
	border-radius: 4px;
	width: 56px;
	height: 39px;
	margin: 10px;
	color: #6C2A6A;
	border: 1px;
	background-color: #fff;
	border-color: #fff;
	font-size: 15px;
}

select option{
    background: rgba(0, 0, 0, 0.3);
}
 	