/*
 @autor: edmar soares
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body  {
	background-color: #6C2A6A;
	font-family: 'Varela Round', sans-serif;
/* 	background-image: url("../img/img-1.png");
 */}

.container  {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-content: center;
}

.header  {
	margin: 40px 0 0 0;
	width: 100%;
	background-color: #ffffff;
}

/* .content  .title  {
	background-color: #ffffff;
	text-decoration: none;
 		color: #fff;
} */

.content {
	padding: 50px 10px 0 10px;
	text-align: justify;
	background-color: #6C2A6A;
	height: 500px;
	background-image: url("../img/intro-img.svg");
	background-size: cover;
}


.content  p {
	color: #ffffff;
	margin: 40px 0 0 0;
	text-align: center;;
}

.container  .content  h3  {
	color: #fff;
	font-family: 'Varela Round', sans-serif;
	font-size: 2.5em;
	padding: 10px 0 ;
}

span  {
	color: #6C2A6A;
}

.navbar navbar-expand-lg navbar-light bg-light  {
	background: #ffffff;
}

#navbarSupportedContent  {
	background: #ffffff;
}

li a {
	color: #6C2A6A !important;	
}

li a:hover  {
	opacity: 0.8;
	background-color: #6C2A6A !important;
	color: #fff !important;
}

li {
	display: flex;
	flex-direction: row;
}


