body {
 	background: #e1d3ed;
 	font-family: 'Varela Round', sans-serif;
}

table {
	border-collapse: collapse;
	width: 100%;		
}

th, td {
	text-align: left;
	padding: 8px;
}

tr:nth-child(even){
	background-color: #f2f2f2;
}

a {	
	padding: 0;
	text-decoration: none;
	color: #6C2A6A;
}

th {
	background-color: #6C2A6A;
	color: white;
}

.footer {
	padding; 30px;	
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	padding:0 30px;
}

.footer a {
	transition:all 0.5s;
	padding: 5px 10px;
}

.footer i {
	padding: 0 5px;
}

.footer a:hover {
	color: #fff;
	background-color: #6C2A6A;
		
}
h3 {
	color: #6C2A6A;
}

